{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block page_description %}The artists and the history of their music{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>The Band</h2>
      <p>Queen are a British rock band formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals, piano), Brian May (guitar, vocals), Roger Taylor (drums, vocals) and John Deacon (bass). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>The Performers</h2>
    <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="img/members/freddie-mercury-color.jpg" class="card-img-top" alt="Freddie Mercury">
      <div class="card-body">
        <h5 class="card-title">Freddie Mercury</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="freddie-mercury.html" class="btn btn-primary">Artist page</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="img/members/brian-may-color.jpg" class="card-img-top" alt="Brian May">
      <div class="card-body">
        <h5 class="card-title">Brian May</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="brian-may.html" class="btn btn-primary">Artist page</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="img/members/roger-taylor-color.jpg" class="card-img-top" alt="Roger Taylor">
      <div class="card-body">
        <h5 class="card-title">Roger Taylor</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="roger-taylor.html" class="btn btn-primary">Artist page</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="img/members/john-deacon-color.jpg" class="card-img-top" alt="John Deacon">
      <div class="card-body">
        <h5 class="card-title">John Deacon</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="john-deacon.html" class="btn btn-primary">Artist page</a>
      </div>
    </div>
  </div>
</div> 
   </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>The Albums</h2>
      <ul> 
        {% for album in queen.discography %}
          <li>{{ album.title }}, {{ album.year }}</li>
        {% endfor %}
     </ul>
   </div>
  </div>
{% endblock %}
