{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block page_description %}The artists and the history of their music{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>The Band</h2>
      <p>Queen are a British rock band formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals, piano), Brian May (guitar, vocals), Roger Taylor (drums, vocals) and John Deacon (bass). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>The Performers</h2>
    {% include "_partials/members.njk" %}
  <div class="row">
    <div class="col-sm-12">
      <h2>The Albums</h2>
      <ul> 
        {% for album in queen.discography %}
          <ul class="list-unstyled">
  <li class="media">
    <img class="mr-3" src="img/discs/{{ album.image }}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{ album.title }}</h5>
      {{ album.year }}
    </div>
  </li>
</ul>
        {% endfor %}
     </ul>
   </div>
  </div>
{% endblock %}
