{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block page_description %}The artists and the history of their music{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>The Band</h2>
      <p>This is a <a href="detail-entry-example.html">link to a blog entry example</a> which shows a simple detail entry page example. It uses the "data-entry.njk" layout.</p>
      <p>This is a <a href="detail-book-shipping-news.html">link to a book page example</a> which uses a more complex detail layout (detail-book.njk) where data is pulled into the layout and the page calls for a specific row in the data.</p>
      <ul> 
        {% for member in queen.members %}
          <li>{{ member.imagebw }}, {{ member.name }}</li>
        {% endfor %}
     </ul>
    </div>
  </div>
</div>
{% endblock %}
