{% extends '_layouts/detail-entry.njk' %}

{% set member = queen.members [3] %}

{% block page_title %} {{ member.name }} {% endblock %}

{% block description %} {{ member.instruments }}, {{member.tenure}}{% endblock %}

{% block story %}
  <h1>{{ member.name}}</h1>
  <img src="img/members/john-deacon-bw.jpg" class="img-fluid" alt="responsive image">
  <p>{{member.text}}</p>
{% endblock %}