{% extends '_layouts/detail-entry.njk' %}

{% set member = queen.members [3] %}

{% block page_title %} {{ member.name }} {% endblock %}

{% block description %} {{ member.instruments }}, {{member.tenure}}{% endblock %}

