.jumbotron.banner {
  background: url(../img/queen-band-wallpaper-thin.jpg) no-repeat center;
  background-size: cover;
  
  h1 {
    font-size: 200px;
    color: red;
    font-family: 'Lobster', cursive;
    
  }
  p{
    font-size: 30px;
    color: rgb(148, 48, 48);
    font-family: 'Fjalla One', sans-serif;
  }
}
  

